#a{
    margin: 0px 500px 0px 390px;
    padding: 5px;
    width: 50%;
    background-color: white;
}
body{
    background-color: lime;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}