body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: darkgrey;
    font-size: large;
}
#m1{
    position: relative;
    left: 30.5%;
    border:saddlebrown solid;
    background-color: darkkhaki;
    width:600px;
    height:100px;
}
#m2{
    z-index: 1;
    position:absolute;
    left:41%;
    top:40%;
    border:green solid;
    background-color: lime;
    width:250px;
    height:250px;
}
#m3{
    position: absolute;
    left:30%;
    border:gold solid;
    background-color: yellow;
    width:250px;
    height:250px;
}
#m4{
    position: absolute;
    right:31%;
    border:turquoise solid;
    background-color: cyan;
    width:250px;
    height:250px;
}
#m5{
    position: absolute;
    top:60%;
    left:30%;
    border:purple solid;
    background-color: violet;
    width:250px;
    height:250px;
}
#m6{
    position: absolute;
    top:60%;
    right:31%;
    border:red solid;
    background-color: pink;
    width:250px;
    height:250px;
}