body{
    background-color: beige;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
div{
    border: solid;
}
#a{
    float: left;
    display: inline-block;
    background-color: sandybrown;
}
#b{
    border: solid;
    background-color: beige;
    text-align: center;
    padding:10px;
    margin: 10px;
}
#c{
    float: left;
    margin-left: 20px;
    height: 280px;
    width: 320px;
    initial-letter: 3;
}